
/* ==>  Nav Style <== */


nav ul {
  list-style-type: none;
  flex-direction: column;
}

.nav-link {
  display: none;
}

.logo {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

#navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.mobile-nav--top li a,
.nav-side--navbar li a,
.mobile-nav--top a {
  text-decoration: none;
  color: var(--clr-primary-text-100);
  font-weight: bold;
}

nav a:hover

/* changing the color of Menu list elements */
  {
  color: var(--clr-accent-three-700);
}

#main-nav {
  display: none;
}



@media screen and (min-width: 1200px) {

  /* ==>  Nav Style desktop <== */

  .mobile-nav--top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .mobile-nav--top ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  #main-nav {
    display: flex;
  }

  .nav-link {
    display: flex;
  }

  .logo {
    margin-top: 0;
  }

  #navbar-toggle {
    display: none;
  }

  .mobile-nav--top li a,
  .nav-side--navbar li a,
  .mobile-nav--top a  {
    text-decoration: none;
    color: var(--clr-primary-text-100);
    font-weight: bold;
  }

  nav a:hover

  /* changing the color of Menu list elements */
    {
    color: var(--clr-accent-three-700);
  }


}