body {
  color: var(--clr-primary);
}

/* ==>  Nav Style <== */


nav ul {
  list-style-type: none;
  flex-direction: column;
}

.nav-links {
  display: none;
}

.logo {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

#navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.mobile-nav li a,
.side-navbar li a {
  text-decoration: none;
  color: var(--clr-primary-200);
}

nav a:hover

/* changing the color of Menu list elements */
  {
  color: var(--clr-accent-two-200);
}

#main-nav {
  display: none;
}

.nav-text {
  font-weight: bold;

}


@media screen and (min-width: 1200px) {

  /* ==>  Nav Style desktop <== */

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  #main-nav {
    display: flex;
  }

  .nav-links {
    display: flex;
  }

  .logo {
    margin-top: 0;
  }

  #navbar-toggle {
    display: none;
  }

  .mobile-nav li a,
  .side-navbar li a {
    text-decoration: none;
    color: var(--clr-primary-200);
  }

  nav a:hover

  /* changing the color of Menu list elements */
    {
    color: var(--clr-accent-two-200);
  }

  .nav-text {
    font-weight: bold;
  }
}