/* Variables for colors */
:root {
  /* Primary colors */
  --clr-primary-text: #1c1b1b; 
  --clr-primary-bg: #fde7d0;
  --clr-primary-headings: #ad5c1c;

  /* Secondary colors*/
  --clr-secondary-bg: #f0e9e5;
  --clr-secondary-text: #6a6a6a;
  --clr-secondary-headings: #142115;

  /* Accent colors  */
 
  --clr-accent-three-100: #ad5c1c;   /* for primary button option */
  --clr-accent-one-200: #ffff00;   /* for links option */

  
  /* Addtional color */
  --clr-additional-body-text: #050505;
  --clr-additional-heading: #515050;
  --clr-additional-bg: #f9f6f2;


  /* Font-families */

  --heading-font: 'Crimson Pro', serif;
  --body-font: 'Open Sans', sans-serif;


  /* Font size */

  --heading-large-size: 2rem;
  --heading-medium-size: 1.5rem;     /* for headings  */
  --heading-small-size: 1.25rem;

  --body-font-large-size: 2rem;      /* for body text  */
  --body-font-medium-size: 1rem;


   /* Font weight */
 
  --heading-font-weight: bold;
  --heading-font-weight: normal;      /* for headings  */
 

  --body-font-weight: normal;        /* for body text  */

  


  
  /* Line height */
  
  --heading-line-height: 1.2rem;
  --heading-line-height: 1.5rem;

  --body-line-height: 1.2rem;
  --body-line-height: 1.5rem;


   /* Letter spacing */

   --heading-letter-spacing: 2px;
   --heading-letter-spacing: 3px;

   --body-letter-spacing-normal: 0.5px;
   --body-letter-spacing-normal: 1px;

}


/* CSS Reset */

html {
  box-sizing: border-box;  /* Border Box Fix */
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}


/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}