/* Variables for colors */
:root {
  /* Primary colors */
  --clr-primary-text-100: #333333; 
  --clr-primary-bg-400: #cdedf7;

  /* Secondary colors*/
  --clr-secondary-bg-100: #feede1;
  --clr-primary-text-200: #232222;

  /* Accent colors  */
 
  --clr-accent-three-100: #215770;   /* for primary button option */
  --clr-accent-one-200: #f97e4d;     /* for secondary button option */
  --clr-accent-one-300: #ce628b;     /* for extra option */
  --clr-accent-two-400: #fe6506;     /* for links option */
  --clr-accent-two-500: #9cadab;     /* for any page option */
  --clr-accent-three-600: #0879b5;   /* for highlighting option */
  --clr-accent-three-700: #a6b6be;   /* for hover text option */
  

  /* Addtional color */
  --clr-dark: #000000;
  --clr-mid-black: #5f4c4c;
  --clr-white: #ffffff;
}


/* Border Box Fix */
* {
  box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}